<html lang="pl">
<head>
    <meta title="Krzywy Zakątek">
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="fontello/css/fontello.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div id="container">
    <header>
    <div id="header" class="header">
        <div class="logo"><i class="icon-chart-area"></i>Krzywy Zakątek</div>
    </div>
    </header>
    <article>
    <div id="slider">
        <div id="slider-space"></div>
        <div id="slider-margin"></div>
        <div id="slide-dots">
            <i class="icon-circle"></i>
            <i class="icon-circle-empty"></i>
            <i class="icon-circle-empty"></i>
            <i class="icon-circle-empty"></i>
            <i class="icon-circle-empty"></i>
        </div>
    </div>
    </article>
    <div id="userform" class="article">
        <div class="centered">
            <h1>Zarezerwuj już dziś!</h1>
            <p>Wypełnij formularz</p>
        </div>
<!--        TODO: Implement dialog box-->
        <div class="dialogbox"></div>
        <div id="form">
            <div id="personal-info">
                <div>
                    <input type="text" id="formName" placeholder="Name"/>
                    <input type="text" id="formLastname" placeholder="Lastname"/>
                </div>
                <div>
                    <input type="text" id="formPesel" placeholder="PESEL"/>
                </div>
                <div>
                    <input type="text" id="formEmail" placeholder="Email: your@email.com"/>
                </div>
                <div>
                    <input type="text" id="formPhoneNum" placeholder="Phone: +48600200100"/>
                </div>
                <div>
                    <input type="text" id="formStreet" placeholder="Street"/>
                    <input type="text" id="formStreetNum" placeholder="Number"/>
                </div>
                <div>
                    <input type="text" id="formPostalCode" placeholder="Zip Code"/>
                    <input type="text" id="formCity" placeholder="City"/>
                </div>
            </div>
            <div id="lodge-select">
                <div>
                    <select>
                        <option value="" disabled selected>Select lodge</option>
                        <option value="1">Jaworzynka</option>
                        <option value="2">Buczynka</option>
                        <option value="3">Kalinka</option>
                    </select>
                </div>
            </div>
            <div id="date-select">
                <div>
                    <input type="date" id="formFromDate" placeholder="From: rrrr-mm-dd"/>
                    <input type="date" id="formToDate" placeholder="To: rrrr-mm-dd"/>
                </div>
<!--                TODO: Add price calculation-->
            </div>
            <div id="submition">
                <div>
                    <button>Wyślij</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <p>Kontakt</p>
        <p><i class="icon-phone"></i> +48607421420</p>
        <p><i class="icon-mail-alt"></i> krzywy.zakatek@dev.pl</p>
        <p><a href=""><i class="icon-facebook-rect"></i> Krzywy Zakątek</a></p>
        <p><a href=""><i class="icon-twitter-bird"></i> @krzywZak</a></p>
        <p><a href=""><i class="icon-googleplus-rect"></i> Krzywy Zakątek - Bieszczady</a></p>
    </div>
</div>
<script type="text/javascript" src="slider.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>